* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-bottom: 0;
}
html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(242, 244, 239);
}

.nav-bar {

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 125px;
 border: 2px solid  rgb(239, 234, 226);
 



}
.nav-bar p{
  font-size: 40px;
  font-weight: 600;
  color: #FFA500;
  margin-left: 50px;
  

}
.nav-bar span{
  color: #3D191C;
}

.nav-bar img {
  height: 100px;
  width: 300px;
  border-radius: 50%;
  transition: .3s ease-in;
}

.nav-bar img:hover {
  transform: scale(360deg);
}


#nav-link{
  margin-right: 30px;
}

#nav-link a {
  color: #3D191C;
  margin-top: 10px;
  text-decoration: none;
  margin-right: 10px;
  font-size: 24px;
  padding: 10px;

}
.header {
  position: sticky;
  top: 0;
  z-index:1000;
  background: rgb(242, 244, 239);
}

section,
div[id] {
  scroll-margin-top: 129.5px;
}


#nav-link a:hover {
color: #FFA500;
}

.sec-home {
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.sec-img {
  width: 90%;
  max-width: 400px;
}

.sec-img {
  animation: rotateImg 8s linear infinite;
}

@keyframes rotateImg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Add {
  background-color: rgb(242, 244, 239);
  height: 400px;
  width: 100%;
  float: right;
  display: flex;
}

.heading {
  background-color: rgb(242, 244, 239);
  margin-left: 350px;
  width: 350px;


}

.heading p {
  font-size: 40px;
  text-align: left;
  margin-top: 100px;
  font-weight: 700;
}

span {
  color: #FFA500;
}

#intro {
  margin-top: 10px;
  padding: 10px;

}

#intro-img {
  background-color: rgb(242, 244, 239);
  height: 400px;
  width: 600px;
  margin-left: 70px;
}

.menu-card {
  border: 3px solid #ff9228;
  width: 280px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 240px;
  justify-content: end;
  margin-top: 50px;
  padding: 24px;
  transition: .35s;
}

.menu-card:hover {

  background-color: #FFA500;
  color: white;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  transform: translateY(-10px);


}

.menu-btn:hover {
  border: 2px solid white;
}

.menu-content {
  display: flex;
  gap: 30px;
  margin-left: 300px;
}

.menu-img {
  width: 150px;
}

.menu-title {
  font-size: 24px;
  margin-top: 8px;

}

.menu-rating {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.menu-rating i {
  color: #ffd600;
  font-size: 24px;
}

.menu-rating span {
  font-family: 'Poppins', sans-serif;
}

.menu-price {
  font-size: large;
}

.menu-btn {
  background-color: #FFA500;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: 2px solid #FFA500;
  color: white;
  opacity: .8;
  font-size: large;
}

.menu-rating span {
  margin-left: 4px;
  font-size: 20px;
}

.menu-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 14px;
}

.our-menu {
  font-size: 30px;
  margin-top: 225px;
  font-weight: 600;
}

.our-menu h1 {
  font-family: 'Great Vibes', cursive;
  color: #FFA500;
  text-align: center;
}

.our-menu span {
  font-family: 'Great Vibes', cursive;
  color: #3D191C;

}

.our-menu p {
  font-weight: 100;
  padding: 50px;
  font-size: 20px;
}

.rating {
  color: #F4B400;

}

.menus {
  display: flex;
  gap: 50px;
  margin-left: 250px;
}

.menu-one {
  border: 2px solid #FFA500;
  border-radius: 20px;
  height: 350px;
  width: 300px;
  padding: 30px;
}

.menu-two {
  border: 2px solid #FFA500;
  border-radius: 20px;
  height: 350px;
  width: 300px;
  padding: 30px;
}

.menu-three {
  border: 2px solid #FFA500;
  border-radius: 20px;
  height: 350px;
  width: 300px;
  padding: 30px;
}

.about-us {
  margin-top: 100px;
  height: 580px;
  background-color: rgb(239, 234, 226);
}

.imgs {
  float: right;
}

#imgs img {
  margin-left: 20px;
}

#img-one {
  margin-left: 50px;
}

#img-two {
  margin-top: 320px;
}

#pasta {
  margin-top: 150px;
  margin-left: 200px;
}

.about-us h2 {
  font-family: 'Great Vibes', cursive;
  color: #FFA500;
  margin-top: 150px;
}

.about-text {
  float: right;
  position: relative;
  bottom: 50px;
  right: 70px;
}

.about-text h1 {
  margin-right: 550px;
  margin-top: 150px;
}

#abt-title {
  margin-right: 50px;
  position: relative;
  bottom: 50px;
}

#abt-spa {
  font-family: 'Poppins', sans-serif;
}

#abt-btn {
  background-color: #FFA500;
  color: #FFF;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  width: 175px;
  border: 2px solid #FFA500;
  border-radius: 5px;
  position: relative;
  bottom: 330px;
  left: 50px;
  padding: 7px;
  transition: .3s;
}
#abt-btn:hover{
  background-color: #3D191C;
  border: 2px solid #3D191C;

}
#tag-one {
  color: gray;
  position: relative;
  bottom: 150px;
}

#tag-two {
  position: relative;
  color: gray;
  bottom: 325px;
  left: 180px;
}

#spa-one {
  color: #FFA500;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

#spa-two {
  font-family: 'Poppins', sans-serif;
  color: #3D191C;
  font-weight: 700;
}

.services {
  padding: 80px 120px;
  color: #FFA500;
  background-color: #fff;
}

.services p {
  color: #000;

}

.services h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
}

.services h2 span {
  color: #3D191C;
}

.service-desc {
  margin-bottom: 50px;
  color: #3D191C;
}

.service-cards {
  display: flex;
  gap: 40px;
}

.service-card {
  flex: 1;
  padding: 40px 30px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  transition: .35s;

}
.service-card:hover{
  transform: translateY(-10px);
   box-shadow: 0px 0px 40px #FFA500;
}


.service-card h3 {
  margin-top: 20px;
  font-size: 20px;
  color: #000;
}

.service-card p {
  font-size: 15px;
  margin-top: 10px;
  color: #000;
}

.service-card.active {
  background: #fff;
  color: #000;
}

.service-card.active .icon-circle {
  background: transparent;
  border: 2px solid #ff9228;
  color: #ff9228;
  border-radius: 8px;
  transition: .3s ease-out;
}

.service-card.active .icon-circle:hover {
  background-color: #FFA500;
  color: white;
}

.service-text {
  position: relative;
  bottom: 50px;
  right: 50px;
}


.icon-circle {
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}


.icon-outline {
  width: 50px;
  height: 50px;
  border: 2px solid #ff9228;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: #ff9228;
  transition: .3s ease-out;


}

.icon-outline:hover {
  background-color: #FFA500;
  color: white;
}


.contact-us {
  background: linear-gradient(135deg, #ff9228, #ffb703);
  display: flex;
  justify-content: space-between;
  padding: 80px 120px;
  color: #3D191C;
  height: 750px;
  height: auto;
  margin-bottom: 0;
  padding-bottom: 40px;
}

.contact-left {
  width: 45%;
}

.contact-left h2 {
  position: relative;
  top: 45px;
  left: 50px;
}


.contact-right {
  width: 45%;
}

.contact-us {
  font-family: 'Great Vibes', cursive;
  color: white;
  margin-bottom: 20px;
}

.contact-us h2 span {
  position: relative;
  color: #4f161a;

}

.contact-us p {
  font-size: 19px;
  font-family: 'Poppins', sans-serif;
  color: #4f161a;

}

.contact-info p {
  display: flex;
  align-items: center;
  gap: 4px;
  color: white;
  margin-bottom: 15px;
}

#info-one {
  position: relative;
  bottom: 50px;
}

#info-two {
  position: relative;
  bottom: 120px;
}

#info-three {
  position: relative;
  bottom: 180px;
}


.contact-info i {
  background: white;
  opacity: .5;
  color: black;
  padding: 10px;
  border-radius: 50%;
  font-size: 14px;
}

.contact-right input,
.contact-right textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.4);
  outline: none;
}

.contact-right textarea {
  height: 120px;
  resize: none;
}

.contact-right button {
  width: 100%;
  padding: 14px;
  background: #7a3a00;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}


.form {
  float: right;
  margin-top: 30px;
  margin-right: 30px;


}

input[type="text"] {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  background-color: #FFF;
  border: 2px solid white;
  outline: none;
  opacity: .5;
  padding: 20px;
  color: #3D191C;
  margin-top: 10px;
  font-size: medium;
}

input[type="email"] {
  height: 50px;
  width: 500px;
  border-radius: 10px;
  background-color: #FFF;
  border: 2px solid white;
  outline: none;
  opacity: .5;
  padding: 20px;
  color: #3D191C;
  margin-top: 10px;
  font-size: medium;
}

input[type="number"] {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  background-color: #FFF;
  border: 2px solid white;
  outline: none;
  margin-top: 10px;
  opacity: .5;
  padding: 20px;
  color: #3D191C;
  font-size: medium;
}

textarea {
  height: 200px;
  width: 100%;
  border-radius: 10px;
  background-color: #FFF;
  border: 2px solid white;
  outline: none;
  opacity: .5;
  padding: 20px;
  color: #3D191C;
  margin-top: 10px;
  font-size: medium;
}

.form button {
  background-color: #3D191C;
  color: white;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  opacity: .8;

}

.footer-content {
  margin-right: 500px;

}

.footer h1 {
  margin-left: 500px;
  color: #FFA500;
  position: relative;
  top: 20px;
}

.footer-links {
  display: flex;
  font-size: 14px;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
  margin-left: 500px;
  color:black;
  font-weight: 100;
}

#c-line {
  font-size: 14px;
  text-align: center;
  margin-left: 500px;
  position: relative;
  bottom: 20px;

}
